@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Noto+Sans+JP&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Jost", -apple-system, "Noto Sans JP", "Yu Gothic", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: white;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: fixed;
    left: 0;
    z-index: -1;
  }
  &[data-current-url="/"]::before {
    top: 0;
    background-color: #3785f6;
  }
  &::after {
    bottom: 0;
    background-color: var(--color-10);
  }
}
i {
  font-style: unset;
}
a {
  color: inherit;
  text-decoration: none;
}
//defaults and variables
* {
  box-sizing: border-box;
  --color-10: #590d22;
  --color-9: #800f2f;
  --color-8: #a4133c;
  --color-7: #c9184a;
  --color-6: #ff4d6d;
  --color-5: #ff758f;
  --color-4: #ff8fa3;
  --color-3: #ffb3c1;
  --color-2: #ffccd5;
  --color-1: #fff0f3;
  --color-1b: #edede9;
  --color-1c: #d6ccc2;
  --color-1d: #f5ebe0;
  --color-1e: #e3d5ca;
  --color-1f: #d5bdaf;
  --color-fav: #c9184a;
  /* --color-10: #073B4C;
  --color-9: #118AB2;
  --color-8: #06D6A0;
  --color-7: #FFD166;
  --color-6: #EF476F;
  --color-5: #D4A373;
  --color-4: #CCD5AE;
  --color-3: #FAEDCD;
  --color-2: #E9EDC9;
  --color-1: #FEFAE0; */
  --gap-default: 20px;
}
.centered {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

div.header {
  margin: calc(var(--gap-default) * 2) var(--gap-default) var(--gap-default);
  img {
    height: 38px;
  }
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: black;
    flex: 1;
    margin-left: 12px;
  }
  > h3 {
    display: block;
    color: black;
    font-size: 1.4em;
    font-weight: 400;
  }
}

//cards-view
.cards-wrapper {
  padding: calc(var(--gap-default) / 2);
  .cards {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
    gap: calc(var(--gap-default) / 2);
    .card-wrapper {
      position: relative;
      .favorite {
        position: absolute;
        top: 12px;
        right: 12px;
        background: white;
        padding: 8px;
        border-radius: 50%;
        font-size: 16px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        &[data-is-fav="true"] {
          color: var(--color-fav);
          font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
        }
      }
      .card-master {
        cursor: pointer;
        position: relative;
        > div.img-wrapper {
          width: 100%;
          aspect-ratio: 1/1;
          font-size: 0;
          border-radius: 8px;
          overflow: hidden;
          border: solid 1px rgb(0 0 0 / 10%);
          background: no-repeat center/cover url("/noimage.png");
          position: relative;
          &[data-is-cutvis="true"] {
            > img {
              filter: brightness(1.1);
              mix-blend-mode: darken;
            }
          }
          > img {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }
        > div.descriptions {
          margin: 12px 4px;
          font-size: 0.9em;
          h4 {
            margin: 4px 0;
            font-weight: 500;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          i {
            font-size: 0.8em;
            font-weight: 500;
            color: rgb(0 0 0 / 33%);
          }
          p {
            margin: 2px 0;
            > span {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
  .cards-timetable {
    margin-left: auto;
    margin-right: auto;
    .wrap {
      border-radius: 8px;
      background-size: cover;
      position: relative;
      .card-master {
        cursor: pointer;
        display: flex;
        margin: 8px auto;
        gap: 8px;
        padding: 6px;
        border-radius: 8px;
        color: white;
        backdrop-filter: brightness(0.8) contrast(0.5) blur(8px) saturate(1.8);
        > div.img-wrapper {
          flex: 2;
          aspect-ratio: 1/1;
          font-size: 0;
          border-radius: 8px;
          overflow: hidden;
          > img {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }
        > div.descriptions {
          flex: 5;
          margin: 12px 4px;
          font-size: 0.9em;
          position: relative;
          h4 {
            margin: 4px 0;
            font-weight: 500;
          }
          i {
            font-size: 0.8em;
            font-weight: 500;
            opacity: 33%;
          }
          p {
            margin: 2px 0;
            > span {
              font-size: 0.9em;
            }
          }
        }
      }
      .favorite {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 12px;
        color: white;
        font-variation-settings: "wght" 100;
        &[data-is-fav="true"] {
          font-variation-settings: "FILL" 1;
        }
      }
    }
  }
}
.view-wrapper {
  max-width: 1600px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  .view-master {
    padding: 30px;
    > div.infos {
      > img {
        width: 100%;
        max-width: 480px;
        aspect-ratio: 1/1;
      }
    }
    > div {
      position: relative;
      i.org {
        display: block;
        font-size: 0.7em;
        font-weight: 400;
      }
      i.title {
        display: block;
        margin: 16px 0;
        padding: 24px 30px 30px 30px;
        position: relative;
        font-weight: 500;
        font-size: 1.3em;
        span.id {
          display: block;
          width: fit-content;
          padding: 0 6px;
          border-radius: 8px;
          margin: 0%;
          font-weight: 700;
          font-family: "Jost";
          font-size: 12px;
          background: var(--color-10);
          color: white;
        }
        i.genre {
          display: block;
          font-size: 0.7em;
          font-weight: 400;
        }
        &::before,
        &::after {
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
        }
        &::before {
          border-left: solid 2px var(--color-7);
          border-top: solid 2px var(--color-7);
          top: 0;
          left: 0;
        }

        &::after {
          border-right: solid 2px var(--color-7);
          border-bottom: solid 2px var(--color-7);
          bottom: 0;
          right: 0;
        }
      }
      i.place {
        display: block;
        font-weight: 500;
        font-size: 1.3em;
        position: relative;
        margin: auto 6px;
        .material-symbols-outlined {
          transform: translateY(5px);
        }
        .favorite {
          position: absolute;
          transform: translateY(8px);
          right: 0;
          font-variation-settings: "wght" 300;
          &[data-is-fav="true"] {
            font-variation-settings: "FILL" 1;
            color: var(--color-fav);
          }
        }
      }
      .shortDesc {
        position: relative;
        display: inline-block;
        margin: 1.5em 0;
        padding: 32px 12px;
        min-width: 120px;
        max-width: 100%;
        color: var(--color-10);
        font-size: 16px;
        background: var(--color-1);
        box-sizing: border-box;
        border-radius: 16px;
        &::before {
          content: "";
          position: absolute;
          bottom: -24px;
          left: 50%;
          margin-left: -15px;
          background: inherit;
          height: 32px;
          width: 32px;
          z-index: 2;
          transform: rotate(45deg) translate(-25%, -25%);
        }
      }

      &.longDesc {
        font-weight: 400;
        font-size: 1em;
      }
    }
  }
}

//navbar and menus
#navbar-master {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0;
  word-spacing: 0;
  padding: 30px 60px 0 30px;
  > div {
    display: flex;
    align-items: center;
  }
  > div.school-emblem > img {
    height: 38px;
  }
  > div.fes-primary-logo > img {
    height: 32px;
  }
  .menu-btn {
    position: absolute;
    display: flex;
    right: 30px;
    height: 38px;
    width: 38px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    span {
      --line-color: var(--color-10);
      display: block;
      height: 2px;
      width: 20px;
      background-color: var(--line-color);
      position: absolute;
      &:before {
        content: "";
        display: block;
        background-color: var(--line-color);
        position: absolute;
        height: 2px;
        width: 25px;
        bottom: 8px;
      }
      &:after {
        content: "";
        display: block;
        background-color: var(--line-color);
        position: absolute;
        height: 2px;
        width: 25px;
        top: 8px;
      }
    }
  }
  &[current-path="/"] {
    position: fixed;
    width: 100%;
    z-index: 80;
    padding: 18px 60px 0 30px;
    > .school-emblem,
    > .fes-primary-logo {
      filter: saturate(0) brightness(0);
    }
    .menu-btn span {
      position: relative;
      --line-color: black;
    }
  }
  &[current-path="/programs/"] {
    background: var(--nav-tab-back);
    padding-bottom: 12px;
  }
}
#menu-btn-check {
  display: none;
  &:checked ~ {
    .menu-content {
      left: 0;
      background-position-x: right;
    }
    .menu-btn {
      position: fixed;
      right: 30px;
      span {
        background-color: rgba(255, 255, 255, 0);
        &::before {
          bottom: 0;
          transform: rotate(45deg);
        }
        &::after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-size: calc(200% + 64px);
  background-position-x: left;
  background-image: linear-gradient(to right, var(--color-7) calc(50% + 72px), var(--color-1) calc(50% + 72px));
  /* background:no-repeat center/100% url('/nagamine-shi.png') , no-repeat left/calc(200% + 64px) linear-gradient(to right, var(--color-7) calc(50% + 72px), var(--color-1) calc(50% + 72px)); */
  left: 100%;
  transition: all 0.5s;
  > div {
    padding: 100px 16px 0 64px;
    ul.links {
      padding: 8px 32px 8px 0;
      li {
        border-bottom: solid 1px var(--color-8);
        list-style: none;
        a {
          display: block;
          width: 100%;
          font-size: 1em;
          box-sizing: border-box;
          color: var(--color-10);
          text-decoration: none;
          padding: 8px 15px 8px 0;
          position: relative;
          &::before {
            content: "";
            width: 7px;
            height: 7px;
            border-top: solid 2px var(--color-10);
            border-right: solid 2px var(--color-10);
            transform: rotate(45deg);
            position: absolute;
            right: 11px;
            top: calc(50% - 6px);
          }
        }
      }
    }
    div {
      display: flex;
      .accent {
        width: 90px;
        transform: rotateZ(12deg) scale(1.5);
      }
      ul.school-infos {
        padding: 0;
        flex: 1;
        li {
          list-style: none;
          color: var(--color-10);
          text-align: end;
          span.material-symbols-outlined {
            font-size: 1em;
          }
        }
      }
    }
    header {
      > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      img {
        height: 38px;
      }
      > p.subtitle {
        line-height: 0;
        margin: 0.5em 0;
        font-family: serif;
        color: var(--color-10);
      }
    }
  }
}

main.greeting {
  margin: var(--gap-default);
}

footer {
  position: relative;
  z-index: 1;

  .header {
    margin: calc(var(--gap-default) * 2) var(--gap-default) var(--gap-default);
    img {
      height: 38px;
    }
    > h3 {
      display: block;
      color: black;
      font-size: 1.4em;
      font-weight: 400;
    }
  }
  .centered {
    max-width: 980px;
  }
  > div:nth-of-type(1) {
    @media screen and (max-width: 479px) {
      background: linear-gradient(to bottom, var(--color-1) 216px, var(--color-2) 216px);
    }
    @media screen and (min-width: 480px) {
      background: linear-gradient(to bottom, var(--color-1) 64px, var(--color-2) 64px);
    }
    padding: 72px 12px 12px;
    > main {
      display: flex;
      flex-wrap: wrap;
      gap: var(--gap-default);
      > section.header {
        > div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
        > p.subtitle {
          line-height: 0;
          margin: 0.5em 0;
          font-family: serif;
          color: var(--color-10);
        }
      }
      > section.links {
        @media screen and (min-width: 480px) {
          display: flex;
          > ul:not(:last-of-type) {
            border-right: solid 1px var(--color-7);
          }
        }
        padding: 12px 0;
        > ul {
          margin: 0;
          padding: 0 24px;
          > li {
            list-style: none;
            padding: 8px 0;
            &:first-of-type {
              font-size: 0.8em;
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
  > div:nth-of-type(2) {
    background: var(--color-3);
    padding: 0 12px;
    > main > i {
      display: block;
      text-align: end;
      padding: 24px 0;
      color: var(--color-9);
      font-size: 0.8em;
    }
  }
  > div:nth-of-type(3) {
    background: var(--color-10);
    padding: 0 12px;
    > main > i {
      display: block;
      text-align: end;
      padding: 24px 0;
      color: var(--color-1);
      font-size: 0.8em;
    }
  }
}

.save-wishlist {
  width: fit-content;
  padding: 12px;
  margin: 6px 0 0 0;
  padding: 8px;
  text-align: center;
  background-color: var(--color-7);
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  > .material-symbols-outlined {
    margin-right: 6px;
    line-height: 1em;
    margin-left: 12px;
  }
  > p {
    margin: 0;
    margin-right: 12px;
    line-height: 1.4em;
  }
}

.hero {
  font-size: 0;
  padding-bottom: 72px;
  position: relative;
  .hero-img-wrap {
    background: linear-gradient(to bottom, #3785f6 40%, #53b3fd 60%);
    img {
      width: 100%;
    }
  }
  .title-img-wrap {
    display: none;
    img {
      width: 100%;
    }
  }
  .hero-desc {
    width: 100%;
    max-width: 320px;
  }
  .hero-date {
    width: 100%;
    max-width: 270px;
  }
  .subTitle {
    font-size: 2.6rem;
    line-height: 1;
    background: white;
    font-family: serif;
    padding: 0 24px;
    > p {
      margin: 0;
    }
    .desc {
      font-size: 1rem;
      margin: 4px;
    }
  }
  .dates {
    font-size: 2.8rem;
    background: white;
    padding: 0 28px;
    font-family: "Jost", sans-serif;
    p {
      margin: 0;
    }
  }
  /*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

  /*スクロールダウン全体の場所*/
  .scrolldown4 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 12px;
    right: 50%;
  }

  /*Scrollテキストの描写*/
  .scrolldown4 span {
    /*描画位置*/
    position: absolute;
    left: -20px;
    bottom: 0;
    /*テキストの形状*/
    color: black;
    font-size: 15px;
    letter-spacing: 0.05em;
    /*縦書き設定*/
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }

  /* 矢印の描写 */
  .scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: black;
    transform: skewX(-31deg);
  }

  .scrolldown4:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: 0;
    /*矢印の形状*/
    width: 1px;
    height: 56px;
    background: black;
  }
}

.countdown-towards-1stday {
  font-family: "Jost", "Noto Sans JP";
  font-size: 1.2em;
  padding: 28px;
  background-color: black;
  color: white;
  p {
    margin: 2px 0;
  }
  span {
    font-size: 2em;
  }
}

.theme-summary {
  img {
    max-width: 100%;
    padding: 0 24px;
  }
  p {
    padding: 0 24px;
  }
}

.outline-summary {
  img {
    max-width: 100%;
  }
  section {
    padding: 24px;
    width: 100%;
    > h4 {
      margin-top: 0;
    }
    > div {
      padding: 12px;
      border: solid 1px rgb(0 0 0 / 15%);
      margin-top: 8px;
      p {
        margin: 0 0 12px 0;
      }
      i {
        font-size: 0.8em;
      }
    }

    &:nth-of-type(1) {
      filter: invert(1);
      background: white;
    }
  }

  .map-wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.catalog-introduction {
  p {
    padding: 0 24px;
  }
}

@media screen and (min-width: 480px) {
  main {
    display: flex;
    max-height: 100vh;
    > div.hero-wrap {
    }
    > div.infos-wrap {
      overflow: scroll;
      flex: 1;
    }
  }
}

.creations {
  img {
    max-width: 100%;
  }
}

#on-live {
  padding: 20px;
  background: var(--nav-tab-back);
  &[data-current="1"] {
    display: none;
  }
  .place {
    color: black;
    font-weight: initial;
  }
  > section {
    padding: calc(var(--gap-default) * 0.5);
    filter: drop-shadow(0 0 8px rgb(0 0 0 / 10%));
    background: white;
    border-radius: 12px;
    > * {
      position: relative;
      z-index: 1;
    }
    &:not(:first-of-type) {
      margin-top: calc(var(--gap-default) * -0.5);
    }
    &:last-of-type {
      &::before {
        content: "";
        position: absolute;
        bottom: -24px;
        left: 75%;
        margin-left: -15px;
        background: inherit;
        height: 32px;
        width: 32px;
        z-index: 0;
        transform: rotate(45deg) translate(-25%, -25%);
        color: inherit;
      }
    }
    text-align: end;
    p.header,
    p.header > span {
      font-size: 1rem !important;
      text-align: start;
      &.live {
        color: red;
        font-weight: 600;
      }
    }
    p,
    h4,
    h5 {
      margin: 0;
    }
  }
}
//programs page
* {
  --nav-tab-back: rgb(246 246 246 / 80%);
}
div.react-tabs {
  ul.react-tabs__tab-list {
    display: flex;
    border: none;
    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: saturate(280%) blur(20px);
    border-bottom: solid 1px rgb(0 0 0 / 15%);
    padding: 12px;
    background: var(--nav-tab-back);
    > li.react-tabs__tab {
      flex: 1;
      text-align: center;
      border: none;
      position: initial;
      border-radius: 8px;
      &[aria-selected="true"] {
        background: rgb(255 255 255 / 85%);
        filter: drop-shadow(0 0 8px rgb(0 0 0 / 10%));
      }
      &:focus {
        outline: inherit;
        &:after {
          display: none;
        }
      }
      &[data-type="programs"],
      &[data-type="times"]{
        flex: 1;
      }
      &[data-type="favs"]{
        flex: 0;
      }
    }
  }
}

.docs {
  li {
    text-decoration: underline;
  }
}
.live-wrap {
  position: relative;
  width: 19px;
  height: 19px;
  display: inline-block;
  .circle {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(50%);
    width: 14px;
    height: 14px;

    &:before {
      content: "";
      position: relative;
      display: block;
      width: 150%;
      height: 150%;
      box-sizing: border-box;
      margin-left: -25%;
      margin-top: -25%;
      border-radius: 45px;
      background-color: red;
      animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 70%;
      height: 70%;
      background-color: red;
      border-radius: 50px;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0.33);
    }
    80%,
    100% {
      opacity: 0;
    }
  }
}
